body {
  background-image: url(https://media.istockphoto.com/photos/green-power-picture-id1221475943?b=1&k=20&m=1221475943&s=170667a&w=0&h=RqZkCwWQPp6fVNayq1IiJLxTYr7c2JqD2MfYx4qbY38=);
  background-size: cover;
}
h2, p {
  color: red;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  color: #AA4139;
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
  font-family: Georgia;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

li {
  list-style: none;
  display: inline-block;
}

#div1 {
  background-color: rgba(0, 0, 255, 0.2);
}
